:root {
  --font-3xl: 40px;
  --font-2xl: 36px;
  --font-xl: 20px;
  --font-lg: 17px;
  --font-md: 14px;
  --font-sm: 13px;
  --font-xs: 12px;
  --font-2xs: 11px;
  --font-3xs: 9px;

  --leading-3xl: 44px;
  --leading-2xl: 42px;
  --leading-xl: 24px;
  --leading-lg: 24px;
  --leading-md: 20px;
  --leading-sm: 16px;
  --leading-xs: 16px;
  --leading-2xs: 16px;
  --leading-3xs: 9px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: currentColor;
  border-style: solid;
  border-width: 0;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:-webkit-any-link:focus-visible {
    outline-offset: -1px;
  }
}

button {
  background: none;
  color: inherit;
  cursor: pointer;
  line-height: inherit;
  padding: 0;
}

input {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

table {
  border-spacing: 0;
}
