input,
button {
  -webkit-app-region: no-drag;
}

// checkbox toggle
.form-toggle {
  & {
    -webkit-app-region: no-drag;
    position: relative;
  }
  &-input {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
  }

  &-label {
    cursor: pointer;
    width: 40px;
    height: 24px;
    border-radius: 24px;
    background: var(--gray-400);
    display: block;
    position: relative;
  }

  &-input:checked + &-label {
    background: var(--accent-3);
  }

  &-input:disabled + &-label {
    background: var(--gray-300);
    pointer-events: none;
  }
  &-input:disabled + &-label:after {
    background: rgba(255, 255, 255, 0.8);
  }

  &-label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    transition: 0.15s;
  }
  &-label:active:after {
    width: 20px;
  }
  &-input:checked + &-label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }
}
