.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

  &-3 {
    @extend .flex-center;
    width: 0.75rem;
    height: 0.75rem;
  }

  &-4 {
    @extend .flex-center;
    width: 1rem;
    height: 1rem;
  }

  &-5 {
    @extend .flex-center;
    width: 1.25rem;
    height: 1.25rem;
  }

  &-6 {
    @extend .flex-center;
    width: 1.5rem;
    height: 1.5rem;
  }

  &-8 {
    @extend .flex-center;
    width: 2rem;
    height: 2rem;
  }

  &-10 {
    @extend .flex-center;
    width: 2.5rem;
    height: 2.5rem;
  }

  &-12 {
    @extend .flex-center;
    width: 3rem;
    height: 3rem;
  }
}

.hover {
  @media (hover: hover) and (pointer: fine) {
    &-visible,
    &:hover &-hidden,
    &:hover &:not(:hover) &-visible,
    &:hover &:hover &:not(:hover) &-visible {
      opacity: 0;
      visibility: hidden;

      transition-property: opacity, visibility;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    &:hover &-visible,
    &:hover &:not(:hover) &-hidden,
    &:hover &:hover &:not(:hover) &-hidden {
      opacity: 1;
      visibility: visible;
    }
  }
}

.text-overflow {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto;
}
.invisible {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

[hidden] {
  display: none !important;
}
