html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
h1 {
  margin: 0;
}

.page-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.controls {
  width: 100px;
  height: 100px;
  background: rgb(128, 191, 255);
  position: relative;
}

.screen-area-controls {
  position: fixed;
  top: 20px;
  right: 20px;
}
