html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
h1 {
  margin: 0;
}

.page-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.controls {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  background: rgb(128, 191, 255);
}

.draw-controls {
  position: fixed;
  top: 160px;
  left: 20px;
  width: 100px;
  height: 100px;
}

.screen-area-controls {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
}

.draw-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
